In [1]:
import pandas as pd
import numpy as np
import os
import glob

In [4]:
os.getcwd()

'D:\\COLLEGE\\PROJECTS\\mortgage'

In [50]:
dropList = [0, 2, 6, 8, 10, 14, 16, 18, 20, 24, 29, 31, 32, 33, 37, 38, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 103, 104, 105, 106, 107]

In [51]:
print("length =", len(dropList))
for i in dropList:
    print(i+1, end = " ")

length = 81
1 3 7 9 11 15 17 19 21 25 30 32 33 34 38 39 41 42 43 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 104 105 106 107 108

In [52]:
header = ['Loan Identifier', 'Channel', 'Seller Name', 'Servicer Name', 'Original Interest Rate', 'Original UPB', 'Current Actual UPB', 'Original Loan Term', 'Origination Date', 'Loan Age', 'Remaining Months To Maturity', 'Original Loan to Value Ratio (LTV)', 'Number of Borrowers', 'Debt-To-Income (DTI)', 'Borrower Credit Score at Origination', 'First Time Home Buyer Indicator', 'Loan Purpose', 'Property Type', 'Number of Units', 'Property State', 'Amortization Type', 'Prepayment Penalty Indicator', 'Interest Only Loan Indicator', 'Current Loan Delinquency Status', 'Zero Balance Code', 'High Balance Loan Indicator', 'High Loan to Value (HLTV) Refinance Option Indicator']

In [53]:
print("header length =", len(header))
leftList = []
for i in range(0, 108):
    if i not in dropList:
        leftList.append(i)

for i in range(len(leftList)):
    print(leftList[i]+1, ")", header[i])

header length = 27
2 ) Loan Identifier
4 ) Channel
5 ) Seller Name
6 ) Servicer Name
8 ) Original Interest Rate
10 ) Original UPB
12 ) Current Actual UPB
13 ) Original Loan Term
14 ) Origination Date
16 ) Loan Age
18 ) Remaining Months To Maturity
20 ) Original Loan to Value Ratio (LTV)
22 ) Number of Borrowers
23 ) Debt-To-Income (DTI)
24 ) Borrower Credit Score at Origination
26 ) First Time Home Buyer Indicator
27 ) Loan Purpose
28 ) Property Type
29 ) Number of Units
31 ) Property State
35 ) Amortization Type
36 ) Prepayment Penalty Indicator
37 ) Interest Only Loan Indicator
40 ) Current Loan Delinquency Status
44 ) Zero Balance Code
87 ) High Balance Loan Indicator
103 ) High Loan to Value (HLTV) Refinance Option Indicator

In [54]:
leftList

[1,
 3,
 4,
 5,
 7,
 9,
 11,
 12,
 13,
 15,
 17,
 19,
 21,
 22,
 23,
 25,
 26,
 27,
 28,
 30,
 34,
 35,
 36,
 39,
 43,
 86,
 102]

In [55]:
len(leftList)

27

## Storing unique loan id

In [66]:
sizeOfChunk = int(1e6)

In [67]:
sizeOfChunk

1000000

In [70]:
unique_id = 0

In [71]:
for i in range(19, 23):
    for qtr in range(1, 5):
        num = 1
        for ch in pd.read_csv(f"local datasets/CSVs/20{i}Q{qtr}.csv", low_memory = False, sep = "|", header = None, usecols = leftList, chunksize = sizeOfChunk):
            dfPart = ch.copy()
            dfPart.columns = header
            dfPart = dfPart[(dfPart['Loan Purpose'] == 'P')
                           & (dfPart['Property Type'] == 'SF')
                           & (dfPart['Amortization Type'] == 'FRM')
                           & (dfPart['Interest Only Loan Indicator'] == 'N') 
                           & (dfPart['High Loan to Value (HLTV) Refinance Option Indicator'] == 'N') 
                           & (dfPart['Original Loan Term'] == 360)]
            
            dfPart = dfPart.drop(['Loan Purpose', 'Property Type', 'Amortization Type', 'Interest Only Loan Indicator', 'High Loan to Value (HLTV) Refinance Option Indicator', 'Original Loan Term'], axis = 1)
            dfPart.to_csv(f"datasets/202{i}Q{qtr}_P{num}.csv", index = False)
            unique_id += dfPart['Loan Identifier'].nunique()
            break

In [72]:
unique_id

349257

### merge

In [73]:
path = os.path.join(f"D:\\COLLEGE\\PROJECTS\\mortgage\\datasets", "*.csv")
joined_list = glob.glob(path)
df = pd.concat(map(pd.read_csv, joined_list), ignore_index = True)
df.to_csv(f"D:\\COLLEGE\\PROJECTS\\mortgage\\1datasets\\latest.csv", index = False)

In [74]:
df = pd.read_csv("D:\\COLLEGE\\PROJECTS\\mortgage\\1datasets\\latest.csv")
df.head()

C:\Users\abhay\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3398: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Loan Identifier,Channel,Seller Name,Servicer Name,Original Interest Rate,Original UPB,Current Actual UPB,Origination Date,Loan Age,Remaining Months To Maturity,...,Number of Borrowers,Debt-To-Income (DTI),Borrower Credit Score at Origination,First Time Home Buyer Indicator,Number of Units,Property State,Prepayment Penalty Indicator,Current Loan Delinquency Status,Zero Balance Code,High Balance Loan Indicator
0,100018053040,R,"Jpmorgan Chase Bank, National Association",Other,4.875,256000.0,0.0,112018,1.0,359.0,...,2,41.0,728.0,N,1,NC,N,00,NaN,N
1,100018053040,R,"Jpmorgan Chase Bank, National Association",Other,4.875,256000.0,0.0,112018,2.0,358.0,...,2,41.0,728.0,N,1,NC,N,00,NaN,N
2,100018053040,R,"Jpmorgan Chase Bank, National Association",Other,4.875,256000.0,0.0,112018,3.0,357.0,...,2,41.0,728.0,N,1,NC,N,00,NaN,N
3,100018053040,R,"Jpmorgan Chase Bank, National Association",Other,4.875,256000.0,0.0,112018,4.0,356.0,...,2,41.0,728.0,N,1,NC,N,00,NaN,N
4,100018053040,R,"Jpmorgan Chase Bank, National Association",Other,4.875,256000.0,0.0,112018,5.0,355.0,...,2,41.0,728.0,N,1,NC,N,00,NaN,N

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4153826 entries, 0 to 4153825
Data columns (total 21 columns):
 #   Column                                Dtype
---  ------                                -----
 0   Loan Identifier                       int64
 1   Channel                               object
 2   Seller Name                           object
 3   Servicer Name                         object
 4   Original Interest Rate                float64
 5   Original UPB                          float64
 6   Current Actual UPB                    float64
 7   Origination Date                      int64
 8   Loan Age                              float64
 9   Remaining Months To Maturity          float64
 10  Original Loan to Value Ratio (LTV)    int64
 11  Number of Borrowers                   int64
 12  Debt-To-Income (DTI)                  float64
 13  Borrower Credit Score at Origination  float64
 14  First Time Home Buyer Indicator       object
 15  Number of Units                       int64
 16  Property State                        object
 17  Prepayment Penalty Indicator          object
 18  Current Loan Delinquency Status       object
 19  Zero Balance Code                     float64
 20  High Balance Loan Indicator           object
dtypes: float64(8), int64(5), object(8)
memory usage: 665.5+ MB

In [76]:
df.isna().sum()

Loan Identifier                               0
Channel                                       0
Seller Name                                   0
Servicer Name                             49752
Original Interest Rate                        3
Original UPB                                  0
Current Actual UPB                            0
Origination Date                              0
Loan Age                                  49752
Remaining Months To Maturity              56507
Original Loan to Value Ratio (LTV)            0
Number of Borrowers                           0
Debt-To-Income (DTI)                        171
Borrower Credit Score at Origination       4757
First Time Home Buyer Indicator               0
Number of Units                               0
Property State                                0
Prepayment Penalty Indicator                  0
Current Loan Delinquency Status               0
Zero Balance Code                       4104074
High Balance Loan Indicator                   0
dtype: int64

In [92]:
df['Loan Identifier'].nunique()

349257

In [99]:
df['Current Loan Delinquency Status'].dtype

dtype('O')

In [104]:
one = df.copy()

In [114]:
df['Current Loan Delinquency Status'] = df['Current Loan Delinquency Status'].astype('str')

In [115]:
df[(df['Current Loan Delinquency Status']<'06')]['Loan Identifier'].nunique()

349169

In [116]:
ls = df[(df['Current Loan Delinquency Status']>'03')]['Loan Identifier'].unique()

In [117]:
len(ls)

20331

In [118]:
df = df[~df['Loan Identifier'].isin(ls)]
df.shape

(3749941, 21)

In [119]:
df['Loan Identifier'].nunique()

328926

In [120]:
df['Current Loan Delinquency Status'].unique()

array(['00', '01', '02', '03', '0'], dtype=object)

## merge data

In [121]:
path = os.path.join(f"D:\\COLLEGE\\PROJECTS\\mortgage\\1datasets\\latest data", "*.csv")
joined_list = glob.glob(path)
df = pd.concat(map(pd.read_csv, joined_list), ignore_index = True)
df.to_csv(f"D:\\COLLEGE\\PROJECTS\\mortgage\\1datasets\\latest.csv", index = False)

C:\Python39\lib\site-packages\pandas\core\reshape\concat.py:294: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  op = _Concatenator(

In [122]:
df = pd.read_csv("D:\\COLLEGE\\PROJECTS\\mortgage\\1datasets\\latest.csv")
df.info()

C:\Users\abhay\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3398: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13051964 entries, 0 to 13051963
Data columns (total 21 columns):
 #   Column                                Dtype
---  ------                                -----
 0   Loan Identifier                       int64
 1   Channel                               object
 2   Seller Name                           object
 3   Servicer Name                         object
 4   Original Interest Rate                float64
 5   Original UPB                          float64
 6   Current Actual UPB                    float64
 7   Origination Date                      int64
 8   Loan Age                              float64
 9   Remaining Months To Maturity          float64
 10  Original Loan to Value Ratio (LTV)    int64
 11  Number of Borrowers                   int64
 12  Debt-To-Income (DTI)                  float64
 13  Borrower Credit Score at Origination  float64
 14  First Time Home Buyer Indicator       object
 15  Number of Units                       int64
 16  Property State                        object
 17  Prepayment Penalty Indicator          object
 18  Current Loan Delinquency Status       object
 19  Zero Balance Code                     float64
 20  High Balance Loan Indicator           object
dtypes: float64(8), int64(5), object(8)
memory usage: 2.0+ GB

In [123]:
one = df.copy()

In [135]:
df['Current Loan Delinquency Status'] = df['Current Loan Delinquency Status'].astype('str')

In [136]:
df['Current Loan Delinquency Status'].unique()

array(['00', 'XX', '01', '02', '03', '04', '05', '06', '07', '08', '09',
       '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31',
       '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42',
       '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53',
       '54', '55', '56', '57', '58', '59', '60', '61', '62', '0', '1',
       '2', '3', '4', '5', '6', '7', '8', '9'], dtype=object)

## filter on zero balance code

In [126]:
df['Zero Balance Code'].unique()

array([nan,  1.,  9.,  2., 16.,  6., 15.,  3.])

In [138]:
toRem = df[(df['Zero Balance Code'] > 1)]['Loan Identifier'].unique()

In [139]:
len(toRem)

1128

In [140]:
df[df['Loan Identifier'] == toRem[0]]

,Loan Identifier,Channel,Seller Name,Servicer Name,Original Interest Rate,Original UPB,Current Actual UPB,Origination Date,Loan Age,Remaining Months To Maturity,...,Number of Borrowers,Debt-To-Income (DTI),Borrower Credit Score at Origination,First Time Home Buyer Indicator,Number of Units,Property State,Prepayment Penalty Indicator,Current Loan Delinquency Status,Zero Balance Code,High Balance Loan Indicator
14549,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,0.00,22015,0.0,359.0,...,1,22.0,737.0,Y,1,FL,N,00,NaN,N
14550,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,0.00,22015,1.0,359.0,...,1,22.0,737.0,Y,1,FL,N,00,NaN,N
14551,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,0.00,22015,2.0,358.0,...,1,22.0,737.0,Y,1,FL,N,00,NaN,N
14552,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,0.00,22015,3.0,356.0,...,1,22.0,737.0,Y,1,FL,N,00,NaN,N
14553,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,0.00,22015,4.0,356.0,...,1,22.0,737.0,Y,1,FL,N,00,NaN,N
14554,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,0.00,22015,5.0,355.0,...,1,22.0,737.0,Y,1,FL,N,00,NaN,N
14555,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,101788.99,22015,6.0,354.0,...,1,22.0,737.0,Y,1,FL,N,00,NaN,N
14556,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,101514.53,22015,7.0,352.0,...,1,22.0,737.0,Y,1,FL,N,00,NaN,N
14557,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,100372.73,22015,8.0,344.0,...,1,22.0,737.0,Y,1,FL,N,00,NaN,N
14558,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,100372.73,22015,9.0,344.0,...,1,22.0,737.0,Y,1,FL,N,00,NaN,N
14559,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,100087.51,22015,10.0,342.0,...,1,22.0,737.0,Y,1,FL,N,00,NaN,N
14560,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,99944.09,22015,11.0,341.0,...,1,22.0,737.0,Y,1,FL,N,00,NaN,N
14561,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,99944.09,22015,12.0,341.0,...,1,22.0,737.0,Y,1,FL,N,00,NaN,N
14562,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,99655.61,22015,13.0,339.0,...,1,22.0,737.0,Y,1,FL,N,00,NaN,N
14563,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,99655.61,22015,14.0,339.0,...,1,22.0,737.0,Y,1,FL,N,00,NaN,N
14564,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,99510.55,22015,15.0,338.0,...,1,22.0,737.0,Y,1,FL,N,00,NaN,N
14565,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,99218.78,22015,16.0,336.0,...,1,22.0,737.0,Y,1,FL,N,00,NaN,N
14566,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,99218.78,22015,17.0,336.0,...,1,22.0,737.0,Y,1,FL,N,00,NaN,N
14567,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,99218.78,22015,18.0,336.0,...,1,22.0,737.0,Y,1,FL,N,01,NaN,N
14568,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,98924.79,22015,19.0,334.0,...,1,22.0,737.0,Y,1,FL,N,00,NaN,N
14569,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,98628.57,22015,20.0,332.0,...,1,22.0,737.0,Y,1,FL,N,00,NaN,N
14570,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,98628.57,22015,21.0,332.0,...,1,22.0,737.0,Y,1,FL,N,00,NaN,N
14571,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,97878.13,22015,22.0,327.0,...,1,22.0,737.0,Y,1,FL,N,00,NaN,N
14572,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,97878.13,22015,23.0,327.0,...,1,22.0,737.0,Y,1,FL,N,00,NaN,N
14573,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,97878.13,22015,24.0,327.0,...,1,22.0,737.0,Y,1,FL,N,00,NaN,N
14574,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,97878.13,22015,25.0,327.0,...,1,22.0,737.0,Y,1,FL,N,00,NaN,N
14575,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,97878.13,22015,26.0,327.0,...,1,22.0,737.0,Y,1,FL,N,00,NaN,N
14576,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,97878.13,22015,27.0,327.0,...,1,22.0,737.0,Y,1,FL,N,01,NaN,N
14577,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,97878.13,22015,28.0,327.0,...,1,22.0,737.0,Y,1,FL,N,02,NaN,N
14578,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,97878.13,22015,29.0,327.0,...,1,22.0,737.0,Y,1,FL,N,03,NaN,N
14579,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,97878.13,22015,30.0,327.0,...,1,22.0,737.0,Y,1,FL,N,04,NaN,N
14580,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,97878.13,22015,31.0,327.0,...,1,22.0,737.0,Y,1,FL,N,05,NaN,N
14581,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,97878.13,22015,32.0,327.0,...,1,22.0,737.0,Y,1,FL,N,06,NaN,N
14582,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,97878.13,22015,33.0,327.0,...,1,22.0,737.0,Y,1,FL,N,07,NaN,N
14583,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,97878.13,22015,34.0,327.0,...,1,22.0,737.0,Y,1,FL,N,08,NaN,N
14584,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,97878.13,22015,35.0,327.0,...,1,22.0,737.0,Y,1,FL,N,09,NaN,N
14585,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,97878.13,22015,36.0,327.0,...,1,22.0,737.0,Y,1,FL,N,10,NaN,N
14586,102419798276,R,Quicken Loans Inc.,Quicken Loans Inc.,4.55,103000.0,97878.13,22015,37.0,327.0,...,1,22.0,737.0,Y,1,FL,N,11,NaN,N
14587,102419798276,R,Quicken Loans Inc.,NaN,4.55,103000.0,0.00,22015,NaN,NaN,...,1,22.0,737.0,Y,1,FL,N,XX,9.0,N

In [141]:
df = df[~(df['Loan Identifier'].isin(toRem))]

In [143]:
df.shape

(13017784, 21)

## remove > 3 months delinquent loans

In [144]:
ignore = ['4', '5', '6', '7', '8', '9', '04', '05', '06', '07', '08', '09',
       '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31',
       '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42',
       '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53',
       '54', '55', '56', '57', '58', '59', '60', '61', '62']

In [146]:
toRem = df[df['Current Loan Delinquency Status'].isin(ignore)]['Loan Identifier'].unique()
len(toRem)

12999

In [147]:
df = df[~(df['Loan Identifier'].isin(toRem))]
df.shape

(12362345, 21)

In [151]:
df.drop('Current Loan Delinquency Status', axis = 1, inplace = True)

C:\Python39\lib\site-packages\pandas\core\frame.py:4901: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [152]:
df.isna().sum()

Loan Identifier                                0
Channel                                        0
Seller Name                                    0
Servicer Name                             182788
Original Interest Rate                         0
Original UPB                                   0
Current Actual UPB                             0
Origination Date                               0
Loan Age                                  182788
Remaining Months To Maturity              184688
Original Loan to Value Ratio (LTV)             0
Number of Borrowers                            0
Debt-To-Income (DTI)                        2113
Borrower Credit Score at Origination       13400
First Time Home Buyer Indicator                0
Number of Units                                0
Property State                                 0
Prepayment Penalty Indicator                   0
Zero Balance Code                       12179557
High Balance Loan Indicator                    0
dtype: int64

In [153]:
toRem = df[df['Debt-To-Income (DTI)'].isna()]['Loan Identifier'].unique()
len(toRem)

64

In [154]:
df = df[~(df['Loan Identifier'].isin(toRem))]
df.shape

(12359596, 20)

In [155]:
one = df.copy()

In [157]:
toRem = df[df['Borrower Credit Score at Origination'].isna()]['Loan Identifier'].unique()
len(toRem)

648

In [158]:
df[df['Loan Identifier'] == toRem[0]]

,Loan Identifier,Channel,Seller Name,Servicer Name,Original Interest Rate,Original UPB,Current Actual UPB,Origination Date,Loan Age,Remaining Months To Maturity,Original Loan to Value Ratio (LTV),Number of Borrowers,Debt-To-Income (DTI),Borrower Credit Score at Origination,First Time Home Buyer Indicator,Number of Units,Property State,Prepayment Penalty Indicator,Zero Balance Code,High Balance Loan Indicator
59508,110063217316,C,Ditech Financial Llc,Other,4.25,62000.0,0.00,122014,1.0,359.0,95,2,30.0,NaN,Y,1,FL,N,NaN,N
59509,110063217316,C,Ditech Financial Llc,Other,4.25,62000.0,0.00,122014,2.0,358.0,95,2,30.0,NaN,Y,1,FL,N,NaN,N
59510,110063217316,C,Ditech Financial Llc,Other,4.25,62000.0,0.00,122014,3.0,357.0,95,2,30.0,NaN,Y,1,FL,N,NaN,N
59511,110063217316,C,Ditech Financial Llc,Other,4.25,62000.0,0.00,122014,4.0,356.0,95,2,30.0,NaN,Y,1,FL,N,NaN,N
59512,110063217316,C,Ditech Financial Llc,Other,4.25,62000.0,0.00,122014,5.0,355.0,95,2,30.0,NaN,Y,1,FL,N,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59598,110063217316,C,Ditech Financial LLC,New Residential Mortgage LLC,4.25,62000.0,52604.63,122014,91.0,269.0,95,2,30.0,NaN,Y,1,FL,N,NaN,N
59599,110063217316,C,Ditech Financial LLC,New Residential Mortgage LLC,4.25,62000.0,52487.17,122014,92.0,268.0,95,2,30.0,NaN,Y,1,FL,N,NaN,N
59600,110063217316,C,Ditech Financial LLC,New Residential Mortgage LLC,4.25,62000.0,52369.29,122014,93.0,267.0,95,2,30.0,NaN,Y,1,FL,N,NaN,N
59601,110063217316,C,Ditech Financial LLC,New Residential Mortgage LLC,4.25,62000.0,52250.99,122014,94.0,266.0,95,2,30.0,NaN,Y,1,FL,N,NaN,N
59602,110063217316,C,Ditech Financial LLC,New Residential Mortgage LLC,4.25,62000.0,52132.28,122014,95.0,265.0,95,2,30.0,NaN,Y,1,FL,N,NaN,N

In [159]:
df = df[~(df['Loan Identifier'].isin(toRem))]
df.shape

(12346196, 20)

In [160]:
12346196-12359596

-13400

In [ ]:
df['Zero Balance Code'] =

In [2]:
df = pd.read_csv("D:\\COLLEGE\\PROJECTS\\mortgage\\1datasets\\final1.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12342222 entries, 0 to 12342221
Data columns (total 20 columns):
 #   Column                                Dtype
---  ------                                -----
 0   Loan Identifier                       int64
 1   Channel                               object
 2   Seller Name                           object
 3   Servicer Name                         object
 4   Original Interest Rate                float64
 5   Original UPB                          float64
 6   Current Actual UPB                    float64
 7   Origination Date                      int64
 8   Loan Age                              float64
 9   Remaining Months To Maturity          float64
 10  Original Loan to Value Ratio (LTV)    int64
 11  Number of Borrowers                   int64
 12  Debt-To-Income (DTI)                  float64
 13  Borrower Credit Score at Origination  float64
 14  First Time Home Buyer Indicator       object
 15  Number of Units                       int64
 16  Property State                        object
 17  Prepayment Penalty Indicator          object
 18  Zero Balance Code                     float64
 19  High Balance Loan Indicator           object
dtypes: float64(8), int64(5), object(7)
memory usage: 1.8+ GB

In [3]:
df.isna().sum()

Loan Identifier                              0
Channel                                      0
Seller Name                                  0
Servicer Name                           182572
Original Interest Rate                       0
Original UPB                                 0
Current Actual UPB                           0
Origination Date                             0
Loan Age                                182572
Remaining Months To Maturity            182572
Original Loan to Value Ratio (LTV)           0
Number of Borrowers                          0
Debt-To-Income (DTI)                         0
Borrower Credit Score at Origination         0
First Time Home Buyer Indicator              0
Number of Units                              0
Property State                               0
Prepayment Penalty Indicator                 0
Zero Balance Code                            0
High Balance Loan Indicator                  0
dtype: int64

In [4]:
temp = df.iloc[0:12342222//2]

In [5]:
temp.shape

(6171111, 20)

In [6]:
temp.to_csv("D:\\COLLEGE\\PROJECTS\\mortgage\\1datasets\\send1.csv", index = False)

In [8]:
temp = df.iloc[12342222//2:]
temp.shape

(6171111, 20)

In [7]:
df.tail()

,Loan Identifier,Channel,Seller Name,Servicer Name,Original Interest Rate,Original UPB,Current Actual UPB,Origination Date,Loan Age,Remaining Months To Maturity,Original Loan to Value Ratio (LTV),Number of Borrowers,Debt-To-Income (DTI),Borrower Credit Score at Origination,First Time Home Buyer Indicator,Number of Units,Property State,Prepayment Penalty Indicator,Zero Balance Code,High Balance Loan Indicator
12342217,135128928,R,Other,Other,6.875,221000.0,221000.0,122022,0.0,360.0,85,1,44.0,707.0,N,1,NE,N,0.0,N
12342218,135128929,R,Other,Other,7.125,275000.0,275000.0,122022,-1.0,360.0,97,2,41.0,712.0,Y,1,MI,N,0.0,N
12342219,135128930,C,PennyMac Corp.,PennyMac Corp.,6.875,615000.0,615000.0,112022,0.0,359.0,95,1,36.0,732.0,Y,1,NJ,N,0.0,N
12342220,135128931,C,U.S. Bank N.A.,U.S. Bank N.A.,6.500,330000.0,329000.0,102022,2.0,358.0,97,2,47.0,745.0,Y,1,FL,N,0.0,N
12342221,135128932,C,"PennyMac Loan Services, LLC","PennyMac Loan Services, LLC",6.875,62000.0,62000.0,112022,0.0,360.0,97,1,23.0,717.0,Y,1,KS,N,0.0,N

In [9]:
temp.tail()

,Loan Identifier,Channel,Seller Name,Servicer Name,Original Interest Rate,Original UPB,Current Actual UPB,Origination Date,Loan Age,Remaining Months To Maturity,Original Loan to Value Ratio (LTV),Number of Borrowers,Debt-To-Income (DTI),Borrower Credit Score at Origination,First Time Home Buyer Indicator,Number of Units,Property State,Prepayment Penalty Indicator,Zero Balance Code,High Balance Loan Indicator
12342217,135128928,R,Other,Other,6.875,221000.0,221000.0,122022,0.0,360.0,85,1,44.0,707.0,N,1,NE,N,0.0,N
12342218,135128929,R,Other,Other,7.125,275000.0,275000.0,122022,-1.0,360.0,97,2,41.0,712.0,Y,1,MI,N,0.0,N
12342219,135128930,C,PennyMac Corp.,PennyMac Corp.,6.875,615000.0,615000.0,112022,0.0,359.0,95,1,36.0,732.0,Y,1,NJ,N,0.0,N
12342220,135128931,C,U.S. Bank N.A.,U.S. Bank N.A.,6.500,330000.0,329000.0,102022,2.0,358.0,97,2,47.0,745.0,Y,1,FL,N,0.0,N
12342221,135128932,C,"PennyMac Loan Services, LLC","PennyMac Loan Services, LLC",6.875,62000.0,62000.0,112022,0.0,360.0,97,1,23.0,717.0,Y,1,KS,N,0.0,N

In [10]:
temp.to_csv("D:\\COLLEGE\\PROJECTS\\mortgage\\1datasets\\send2.csv", index = False)