In [3]:
import pandas as pd
import os
import glob

In [2]:
os.getcwd()

'D:\\COLLEGE\\PROJECTS\\mortgage'

In [4]:
dropList = [0, 2, 6, 8, 10, 14, 16, 18, 20, 24, 29, 31, 32, 33, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 103, 104, 105, 106, 107]

In [5]:
print("length =", len(dropList))
for i in dropList:
    print(i+1, end = " ")

length = 82
1 3 7 9 11 15 17 19 21 25 30 32 33 34 38 39 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 104 105 106 107 108

In [6]:
header = ['Loan Identifier', 'Channel', 'Seller Name', 'Servicer Name', 'Original Interest Rate', 'Original UPB', 'Current Actual UPB', 'Original Loan Term', 'Origination Date', 'Loan Age', 'Remaining Months To Maturity', 'Original Loan to Value Ratio (LTV)', 'Number of Borrowers', 'Debt-To-Income (DTI)', 'Borrower Credit Score at Origination', 'First Time Home Buyer Indicator', 'Loan Purpose', 'Property Type', 'Number of Units', 'Property State', 'Amortization Type', 'Prepayment Penalty Indicator', 'Interest Only Loan Indicator', 'Current Loan Delinquency Status', 'High Balance Loan Indicator', 'High Loan to Value (HLTV) Refinance Option Indicator']

In [7]:
print("header length =", len(header))
leftList = []
for i in range(0, 108):
    if i not in dropList:
        leftList.append(i)

for i in range(len(leftList)):
    print(leftList[i]+1, ")", header[i])

header length = 26
2 ) Loan Identifier
4 ) Channel
5 ) Seller Name
6 ) Servicer Name
8 ) Original Interest Rate
10 ) Original UPB
12 ) Current Actual UPB
13 ) Original Loan Term
14 ) Origination Date
16 ) Loan Age
18 ) Remaining Months To Maturity
20 ) Original Loan to Value Ratio (LTV)
22 ) Number of Borrowers
23 ) Debt-To-Income (DTI)
24 ) Borrower Credit Score at Origination
26 ) First Time Home Buyer Indicator
27 ) Loan Purpose
28 ) Property Type
29 ) Number of Units
31 ) Property State
35 ) Amortization Type
36 ) Prepayment Penalty Indicator
37 ) Interest Only Loan Indicator
40 ) Current Loan Delinquency Status
87 ) High Balance Loan Indicator
103 ) High Loan to Value (HLTV) Refinance Option Indicator

In [8]:
leftList

[1,
 3,
 4,
 5,
 7,
 9,
 11,
 12,
 13,
 15,
 17,
 19,
 21,
 22,
 23,
 25,
 26,
 27,
 28,
 30,
 34,
 35,
 36,
 39,
 86,
 102]

# Splitting Data

In [9]:
sizeOfChunk = int(1e6)

In [10]:
def getMonthYear(df):
    df['Origination Date'] = df['Origination Date'].astype(str)
    df['Origination Year'] = df['Origination Date']
    df['Origination Month'] = df['Origination Date']
    df['Origination Year'] = df['Origination Year'].map(lambda x: x[1:])
    df['Origination Month'] = df['Origination Month'].map(lambda x: x[:1])

In [15]:
# xx = []
for i in range(1, 3):
    for qtr in range(1, 5):
        num = 1
        for ch in pd.read_csv(f"local datasets/CSVs/202{i}Q{qtr}.csv", low_memory = False, sep = "|", header = None, usecols = leftList, chunksize = sizeOfChunk):
            dfPart = ch.copy()
            dfPart.columns = header
            dfPart = dfPart[(dfPart['Loan Purpose'] == 'P')
                           & (dfPart['Property Type'] == 'SF')
                           & (dfPart['Amortization Type'] == 'FRM')
                           & (dfPart['Interest Only Loan Indicator'] == 'N') 
                           & (dfPart['High Loan to Value (HLTV) Refinance Option Indicator'] == 'N') 
                           & ((dfPart['Original Loan Term'] == 360) 
                           | (dfPart['Original Loan Term'] == 180))]
            dfPart = dfPart.drop(['Loan Purpose', 'Property Type', 'Amortization Type', 'Interest Only Loan Indicator', 'High Loan to Value (HLTV) Refinance Option Indicator'], axis = 1)
            dfPart.to_csv(f"datasets/202{i}/Q{qtr}/202{i}Q{qtr}_P{num}.csv", index = False)
            num += 1
#             xx = dfPart

In [11]:
xx.shape

(152633, 21)

In [12]:
xx

,Loan Identifier,Channel,Seller Name,Servicer Name,Original Interest Rate,Original UPB,Current Actual UPB,Original Loan Term,Origination Date,Loan Age,...,Original Loan to Value Ratio (LTV),Number of Borrowers,Debt-To-Income (DTI),Borrower Credit Score at Origination,First Time Home Buyer Indicator,Number of Units,Property State,Prepayment Penalty Indicator,Current Loan Delinquency Status,High Balance Loan Indicator
24,122128312,R,Other,Other,2.625,636000.0,636000.00,360,12021,-1.0,...,80,2,33.0,792.0,Y,1,NJ,N,0,Y
25,122128312,R,Other,Other,2.625,636000.0,636000.00,360,12021,0.0,...,80,2,33.0,792.0,Y,1,NJ,N,0,Y
26,122128312,R,Other,Other,2.625,636000.0,635000.00,360,12021,1.0,...,80,2,33.0,792.0,Y,1,NJ,N,0,Y
27,122128312,R,Other,Other,2.625,636000.0,634000.00,360,12021,2.0,...,80,2,33.0,792.0,Y,1,NJ,N,0,Y
28,122128312,R,Other,Other,2.625,636000.0,633000.00,360,12021,3.0,...,80,2,33.0,792.0,Y,1,NJ,N,0,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999859,122172979,B,"Rocket Mortgage, LLC","Rocket Mortgage, LLC",2.690,461000.0,457000.00,360,122020,4.0,...,97,2,36.0,705.0,Y,1,CA,N,0,N
999860,122172979,B,"Rocket Mortgage, LLC","Rocket Mortgage, LLC",2.690,461000.0,456000.00,360,122020,5.0,...,97,2,36.0,705.0,Y,1,CA,N,0,N
999861,122172979,B,"Rocket Mortgage, LLC","Rocket Mortgage, LLC",2.690,461000.0,456000.00,360,122020,6.0,...,97,2,36.0,705.0,Y,1,CA,N,0,N
999862,122172979,B,"Rocket Mortgage, LLC",Truist Bank (formerly SunTrust Bank),2.690,461000.0,454869.48,360,122020,7.0,...,97,2,36.0,705.0,Y,1,CA,N,0,N
999863,122172979,B,"Rocket Mortgage, LLC",NaN,2.690,461000.0,0.00,360,122020,NaN,...,97,2,36.0,705.0,Y,1,CA,N,0,N

In [14]:
len(xx.columns)

21

# Merge data

In [5]:
for i in range(1, 3):
    for j in range(1, 5):
        path = os.path.join(f"D:\\COLLEGE\\PROJECTS\\mortgage\\datasets\\202{i}\\Q{j}", "*.csv")
        joined_list = glob.glob(path)
        df = pd.concat(map(pd.read_csv, joined_list), ignore_index = True)
        df.to_csv(f"D:\\COLLEGE\\PROJECTS\\mortgage\\1datasets\\202{i}Q{j}.csv", index = False)